:root {
    --color-dark: #3A4042;
    --color-light-dark: rgba(58, 64, 66, 0.1);
    --color-light: #FFF;
    --color-first: #F25A70;

    --color-second: #EEE;
    --color-third: #9B9B9B;
    --color-fourth: #707070;
    --color-fifth: #828282;

    --color-sixth: #FFFCEE;
    --color-seventh: #F4F1E4;
    --color-eight: #EAE6DA;
}